.btn {
    color:$black;
    height: 100%;
    padding:0 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
.btn-round {
    color:white;
    background-color: #49c5b6;
    border-radius: 100px;
    display: inline-flex;
    height: 46px;
    padding:0 36px;
}
.btn-register {
    background-color: #49c5b6;
    color:$white;
}
.btn-save {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-top: 40px;
}
.btn-upload {
    background-color: #f4f7f6;
    border-radius: 100px;
    display: flex;
    height: 46px;
    padding:0 36px;
    color:$black;
    border:1px solid $black;
    img{
        margin-right: 7px;
    }
}
.btn-continue{
    background-color: $white;
    color:$black;
    border-radius: 100px;
    border:1px solid $black;
    font-weight: normal;
}
.button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top:50%;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
    &__left {
        left:-105px;
        background-image: url(/img/arrow.svg);
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
    }
    &__right {
        right:-105px;
        background-image: url(/img/next.svg);
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
    }
}