.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: calc(100vh - 60px);
    .inner__banner {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h2 {
            font-size: 70px;
            line-height: 98px;
            color:$white;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 17px;
        }
        p{
            font-size: 22px;
            line-height: 31px;
            color:$white;
            text-transform: uppercase;
            margin-bottom: 48px;
            font-weight: 300;
        }
    }
}
.section {
    padding-top:90px;
    padding-bottom: 40px;
    .introduce{
        max-width: 550px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 44px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        margin-bottom: 200px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 100px;
            top:50%;
            background-color: $black;
            left:50%;
            transform :translate(-50%,100%);
        }
    }
    .course {
        text-align: center;
        .title{
            font-size: 16px;
            line-height: 27px;
            text-transform: uppercase;
        }
        .type{
            text-transform: uppercase;
            font-size: 50px;
            line-height: 80px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        &__item {
            text-align:left;
            margin-bottom: 22px;
            position: relative;
            &-img {
                overflow: hidden;
                object-fit: cover;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-info {
                background-color: #ececec;
            }
            &-wrap {
                padding:10px;
                min-height: 80px;
            }
            &-title{
                font-size: 22px;
                line-height: 27px;
                font-weight: bold;
                margin-bottom: 7px;
            }
            &-des {
                color:#838383;
                font-size: 16px;
                line-height: 22px;
                height: 70px;
                max-height: 80px;
            }
            &-details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid #e7e7e7;
                .teacher{
                    display: flex;
                    align-items: center;
                    padding:15px 20px;
                    .avatar{
                        border-radius: 100px;
                        overflow: hidden;
                        max-width: 100%;
                        width: 36px;
                        min-width: 30px;
                    }
                    .name{
                        margin-left: 10px;
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
                .btn-register{
                    padding:25px;
                    border-left:1px solid #e7e7e7;
                    background-color: transparent;
                    color:#49c5b6;
                }
            }
            &-quantity {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: absolute;
                top:5%;
                right: 10%;
                .item {
                    display: flex;
                    align-items: center;
                    color:$white;
                    &:not(:last-child){
                        margin-right: 12px;
                    }
                    span{
                        margin-left:5px;
                    }
                }
            }
            &-viewmore {
                position: absolute;
                top:48%;
                right:10%;
            }
        }
    }
}
.offline {
    background-color: white;
    border:1px solid #000;
}
.different {
    background-color: $black;
    color:$white;
    height: 716px;
    .title-different {
        h2 {
            font-size: 50px;
            line-height: 70px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 48px;
            span {
                color:#49c5b6;
            }
        }
        .img-wrap {
            position: relative;
            height: 100%;
            .img-1 {
                position: absolute;
            }
            .img-2 {
                position: absolute;
                bottom:25%;
                right:0;
            }
        }
    }
    .content-different {
        .content__item {
            h2 {
                font-size: 22px;
                line-height: 31px;
                font-weight: 700;
                margin-bottom: 14px;
            }
            p{
                font-size: 16px;
                line-height: 28px;
                padding-bottom: 40px;
            }
        }
    }
}
.related {
    background-color: $black;
    .title,.type{
        color:$white;
    }
}
.comment {
    &-box {
        max-width: 900px;
        margin: 0 auto;
    }
    .inner_comment-box {
        position: relative;
        .item {
            display: flex;
            align-items: center;
            height: 100%;
            .text {
                width: 687px;
                height: calc(460px - 100px);
                background-color: $white;
                position: relative;
                margin-right: -50px;
                z-index: 10;
                &-item {
                    width: 100%;
                    height:100%;
                    padding:34px 40px;
                    position: absolute;
                    top:0;
                    left:0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    opacity: 0;
                    visibility: hidden;
                    transition: all.4s;
                    -webkit-transition: all.4s;
                    user-select:text;
                    &.js-comment-active{
                        opacity: 1;
                        visibility: visible;
                        transition: all.4s;
                        -webkit-transition: all.4s;
                    }
                    .info {
                        display: flex;
                        justify-content: space-between;
                        .name {
                            h2{
                                font-size: 22px;
                                line-height: 31px;
                                font-weight: bold;
                            }
                            p {
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 400;
                            }
                        }
                    }
                    .content {
                        height: 170px;
                        line-height: 34px;
                        padding:30px 0 70px;
                        display: -webkit-inline-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .bottom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .fb {
                            height: 100%;
                            width: 25px;
                        }
                        .date {
                            font-size: 14px;
                            line-height: 26px;
                        }
                    }
                    
                }

            }
            .images {
                width: 400px;
                .img {
                    height: 498px;
                    width: 379px;
                    img{
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .list-dots {
            margin-top: 70px;
            height: auto;
            ol {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    width: 10px;
                    height:10px;
                    background-color: #c4c4c4;
                    border-radius: 100%;
                    margin-right: 10px;
                    cursor: pointer;
                    &.is-selected {
                        background-color: #49c5b6;
                        width:20px;
                        border-radius: 5px;
                        transition: all .4s;
                    }
                }
            }
        }
    }
}
.team {
    background-color: $white;
    .slider {
        .slider--item {
            margin: 0 20px;
            img{
                max-width: initial;
                height: 450px;
            }
        }
    }
}
.ready {
    background-color: #49c5b6;
    color:$white;
    .inner__ready {
       text-align: center;
       max-width: 860px;
       margin:0 auto;
       h3 {
           font-size: 38px;
           line-height: 53px;
           font-weight: bold;
           margin-bottom: 35px;
       }
       .btn-round {
           color:#49c5b6;
           background-color: $white;
       }
    }
}