.grid {
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
}
.content,.content__move{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    grid-area: 1/1/2/2;
    justify-self: center;
    position: relative;
    &--hidden{
        pointer-events: none;
    }
    &__move{
        will-change: transform;
        overflow: hidden;
        background:#000;
    }
    &--first{
        position: fixed;
    }
    &__reverse{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        will-change: transform;
        .intro {
            position: relative;
            display: grid;
            grid-template-rows: auto 40vh 20vh auto;
            grid-template-columns: 100%;
            align-items: center;
            justify-items: center;
            width: 100vw;
            height: 100vh;
            &__img{
                background-position: 50% 0;
                background-size: cover;
                width: 320px;
                height: 100%;
                max-height: 600px;
                grid-row: 2/ span 2;
                grid-column:1;
                position: relative;
                will-change: transform;
            }
            &__title{
                position: relative;
                grid-row: 2 / span 2;
                grid-column: 1;
                font-family: $font;
                font-weight: 700;
                font-size:8vw;
                line-height: 1;
                margin:0;
                color:$white;
                cursor: default;
                span {
                    will-change: transform;
                    display: inline-block;
                    white-space: pre;
                }
            }
            &__enter{
                position: relative;
                grid-row: 3;
                grid-column:1;
                color:$white;
                font-size: 1.4rem;
                will-change: transform;
                &::after{
                    content:'';
                    position: absolute;
                    width:100%;
                    height: 1px;
                    background:currentColor;
                    transform:scale3d(0,1,1);
                    opacity: 0;
                    top:calc(100% + 0.15rem);
                    left:0;
                    transform-origin: 0% 50%;
                    transition: opacity 0.3s, transform 0.3s;
                }
                &:hover{
                    &::after{
                        opacity: 1;
                        transform: scale3d(1,1,1);
                    }
                }
            }
            &__page-list {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                position: absolute;
                top: 50%;
                left: calc(100% - 13vw);
                width: 60vh;
                max-width: 440px;
                min-width: 250px;
                transform: translate(-50%,-50%) rotate(-90deg);
                a{
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding: 20px 0 0;
                    pointer-events: all;
                    will-change: transform;
                    transform: translateZ(0);
                    white-space: nowrap;
                    color:$white;
                    transform: translate3d(-181.5px, 0px, 0px);
                    font-family: 'Neue Haas Grotesk Bold';
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
            .arrow-icon {
                position: absolute;
                bottom: 100px;
                right: 150px;
                width: 10px;
                height:50px;
                display: flex;
                align-items: center;
                justify-content: center;
                .line {
                    position: relative;
                    width: 1px;
                    height:100%;
                    overflow: hidden;
                    &::before,&::after{
                        display: block;
                        content:'';
                        position: absolute;
                        width: 100%;
                        height:100%;
                        top:0;
                        left:0;
                        right: auto;
                        bottom: auto;
                        background-color: $white;
                    }
                    &::before{
                        height:150%;
                        animation:line-1 2s cubic-bezier(.77,0,.175,1) infinite;
                    }
                    &::after{
                        height:50%;
                        animation:line-2 2s cubic-bezier(.645,.045,.355,1) infinite;
                        animation-delay: .4s;
                    }
                }
                .arrow {
                    position: absolute;
                    width: 100%;
                    bottom: -5px;
                    right:-1px;
                    padding-bottom: 100%;
                    border-bottom: 1px solid $white;
                    border-right: 1px solid $white;
                    transform: rotate(45deg);
                    animation: arrow 1s cubic-bezier(.455,.03,.515,.955) infinite alternate;
                    animation-delay: .75s;
                }
            }
            .bottom{
                position: absolute;
                bottom: 30px;
                left: 0;
                display: grid;
                width: 100%;
                align-content: space-between;
                max-width: none;
                padding: 0 9rem;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto auto auto;
                grid-template-areas: 'social scroll'
                                    '... ...'
                                    '... ...';
                ul {
                    grid-area: social;
                    display: flex;
                    li:not(:last-child){
                        padding-right: 30px;
                    }
                }
                span{
                    color:$white;
                    grid-area: scroll;
                    justify-self: end;
                    font-size:18px;
                    font-family: $font;
                }
            }
        }
    }
    &--second{
        pointer-events: none;
        a,button{
            pointer-events: auto;
        }
        .content__project{
            padding: 0 3rem;
            max-width: 800px;
            margin: 100px auto 0 auto;
            color:$white;
            &--top{
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                padding-bottom: 40px;
                border-bottom: 1px solid #404040;
                .project__title{
                    font-family: 'Neue Haas Grotesk Bold';
                    font-size: 70px;
                    font-weight: 700;
                }
                .project__type {
                    font-family: 'Neue Haas Grotesk Bold';
                    font-weight: 700;
                    font-size: 18px;
                    opacity: .5;
                }
            }
            &--bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 40px auto 0 auto;
                padding:0 50px;
                li{
                    font-family: 'Neue Haas Grotesk Bold';
                    font-weight: 700;
                    font-size: 18px;
                    h3{
                        font-size: 74px;
                    }
                    .nb{
                        display: inline-block;
                        transform: translateY(-33px);
                        margin-right: 10px;
                        font-size: 26px;
                    }
                    span{
                        font-size: 10px;
                        letter-spacing: 1px;
                        display: block;
                        margin-bottom: 18px;
                        font-weight:400;
                    }
                } 
            }
        }
        .dark-section{
            position: relative;
            padding-left: 20%;
            padding-right: 20%;
            margin-bottom: 155px;
            margin-top: 300px;
            .background{
                position: absolute;
                z-index: -1;
                top: -156px;
                left: 20%;
                width: 80%;
            }
            .first-big-image{
                
                img:not(:last-child) {
                    margin-bottom: 100px;
                }
            }
        }
        .next-project {
            cursor: pointer;
            color: #fff;
            margin-top: -4px;
            width: 100%;
            display: block;
            background-color: #121212;
            padding-top: 30vh;
            height: 64vh;
            padding-left: 20%;
            padding-right: 20%;
            text-decoration: none;
            position: relative;
            z-index: 2;
            &::before{
                content:'';
                width: inherit;
                height:0;
                transition: all .4s ease;
                position: absolute;
                bottom: 0;
                left:0;
                display: block;
                cursor: pointer;
                background-color: #161616;
                z-index: -1;
            }
            &:hover {
                &::before{
                    height: inherit;
                }
            }
        }
    }
    &__back {
        position: relative;
        background:transparent;
        border:0;
        left: 100px;
        top: 80px;
        &-path{
            fill:$white;
        }
        &-arrow{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        &-round{
            animation: rotate 40s linear infinite;
        }
    }
}
.overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    &__inner{
        width: 200%;
        height:200%;
        position: relative;
        flex:none;
        background-color: #bbaaee;
        will-change: transform;
        &--color-1{
            background-color: $color-overlay-1;
        }
        &--color-2 {
            background-color: $color-overlay-2;
        }
        &--color-3 {
            background-color: $color-overlay-3; 
        }
    }
}
// @media screen and(min-width:53em)
// {
//     main{
//         overflow: hidden;
//     }
// }


